#compiled python modules.
*.pyc
*.wpr
*.wpu

#cache
__pycache__/

#Logs
Logs/
logs/

#Not the python virtual environment
.lvenv/

#not the log files in tests
tests/*.*log.txt

#Setuptools distribution folder
/ dist /

*.in
#python egg metadata, regnerrated from source files by setuptools.
/*.egg - info
/*.egg